html {
  scroll-behavior: smooth;
  /* width: 100%;
  height:100%; */
}

body {
  background-image: url(images/ChatGPT\ Image\ Nov\ 7\,\ 2025\,\ 12_25_12\ AM.png);
  /* background-image: url(images/ChatGPT\ Image\ Nov\ 7\,\ 2025\,\ 12_25_12\ AM.png); */
  background-color: rgb(255, 255, 255, 0.9);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* background-color: rgb(244, 244, 244); option2*/
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
  background-color: rgb(244, 244, 244, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  padding-top: 90px;      /* reserve space for fixed header */
  margin-bottom: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  transition: opacity 0.5s ease;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/ChatGPT\ Image\ Nov\ 7\,\ 2025\,\ 12_25_12\ AM.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(12px);
  opacity: 0.9;
  z-index: -1;
}

body.fade-out {
  opacity: 0;
}

/* @keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} */

.header {
  position: fixed;
  background-color: rgb(221, 33, 33, 0.9); /* deep red */
  backdrop-filter: blur(5px);
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  z-index: 9999;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.ham-menu {
  height: 30px;
  cursor: pointer;
  padding: 6px;
  transition: 0.5s;
  margin-left: 20px;
}

.ham-menu:hover {
  /* box-shadow: 5px 5px 10px black; */
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 50%;
}

.hmbrg-menu {
  position: relative;
  border: none;
}

.hmbrg-menu .tooltip {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: absolute;
  background-color: rgb(99, 99, 99);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  left: 13px;
  bottom: -40px;
  padding: 6px 10px;
  pointer-events: none;
  opacity: 0;
  z-index: 200;
}

.hmbrg-menu:hover .tooltip{
  opacity: 1;
  transition: 0.6s;
}

.header-title {
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  color: #C81E1E;
}
.nav-link {
  color: #000000; /* gray-600 */
  font-weight: 500;
  margin-right: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-block;
}
.nav-link:hover {
  color: white; /* Red Accent */
  transform: scale(1.05);
}

.want, .donate, .login {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  padding: 6px 10px;
  border: none;
  margin-right: 30px;
  border-radius: 6px;
  text-decoration: none;
  background-color: #F3F4F6;
  color: #1F1F1F;
  transition: all 0.3s ease;
}

.want:hover, .donate:hover {
  background-color: #E63946; 
  color: white;
  box-shadow: 0 8px 20px rgba(230,57,70,0.45);
  cursor: pointer;
  transform: scale(1.05);
}

.login:hover{
  background-color: #524bb4; 
  color: white;
  box-shadow: 0 8px 20px rgba(230,57,70,0.45);
  cursor: pointer;
  transform: scale(1.05);
}

#overview{
  scroll-margin-top: 80px;
}

.features {
  margin-top: 100px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.tabs-nav {
  align-items: center;
  column-gap: 10px;
  border-radius: 10px;
}

.tabs-container {
  display: flex;
  justify-content: center;
}

.tab {
  white-space: nowrap;
  padding: 6px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  background: none;
  border: none;
  column-gap: 10px;
  /* border-bottom: 2px solid transparent;
  border-right: none;
  border-top: none;
  border-left: none; */
  transition: 0.3s;
}

.tab:hover {
  background-color: #E63946;
  color: white;
  border-bottom: solid 2px white;
}

.red {
  font-weight: 600;
  color: #E63946;
  border-bottom: 2px solid #E63946;
}

.nav-btn {
  background: transparent;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 6px;
  transition: all 0.3s ease;
}

.nav-btn:not(:last-child) {
  margin-right: 12px; 
}

.tab-content {
  width: 1000px;
  display: none;
  /* perspective: 800px; */
}

.tab-content.active {
  display: grid;
}

.feature-grid {
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 1000px;
  gap: 20px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

.feature-card {
  width: 300px;
  margin: 30px;
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: 0.4s;
  
}

.feature-card:hover {
  cursor: pointer;
  transform: scale(1.03);
  background: #ff2a2a;
  color: white;
}

.feature-card h3 {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
.feature-card p {
  font-weight: 600;
  color: #4B5563;
  font-size: 0.875rem;
}

.feature-card:hover p{
  color: #0B1220;
}
