html {
  scroll-behavior: smooth;
  /* width: 100%;
  height:100%; */
}

body {
  background-image:
    url(images/ChatGPT\ Image\ Nov\ 7\,\ 2025\,\ 12_25_12\ AM.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* background-color: rgb(244, 244, 244); option2*/
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
  background-color: rgb(244, 244, 244, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center; /* centers horizontally */
  justify-content: flex-start; /* keeps content below the header */
  margin-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  margin-bottom: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  transition: opacity 0.5s ease;
}

body.fade-out {
  opacity: 0;
}

/* @keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} */

.header {
  background-color: rgb(255, 48, 48);
  backdrop-filter: blur(12px);
  position: fixed;
  height: 90px;
  width: 100%;
  /* padding: 20px; */
  top: 0;
  z-index: 100;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  display: flex;
  flex-wrap: nowrap;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.ham-menu {
  height: 30px;
  cursor: pointer;
  padding: 6px;
  transition: 0.5s;
  margin-left: 20px;
}

.ham-menu:hover {
  /* box-shadow: 5px 5px 10px black; */
  background-color: rgb(211, 0, 0);
  border-radius: 50%;
}

.hmbrg-menu {
  position: relative;
  border: none;
}

.hmbrg-menu .tooltip {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: absolute;
  background-color: rgb(99, 99, 99);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  left: 13px;
  bottom: -40px;
  padding: 6px 10px;
  pointer-events: none;
  opacity: 0;
  z-index: 200;
}

.hmbrg-menu:hover .tooltip{
  opacity: 1;
  transition: 0.6s;
}

.header-title {
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  color: #C81E1E;
}
.nav-link {
  color: #000000; /* gray-600 */
  font-weight: 500;
  margin-right: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-block;
}
.nav-link:hover {
  color: white; /* Red Accent */
  transform: scale(1.05);
}

.want, .donate, .login {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  padding: 6px 10px;
  border: none;
  margin-right: 30px;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  background-color: rgb(245, 245, 245);
  transition: all 0.3s ease;
}

.want:hover, .donate:hover, .login:hover {
  background-color: rgb(192, 28, 28);
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.45);
}

#features, #overview {
  scroll-margin-top: 80px;
}

.features {
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.tabs-nav {
  align-items: center;
  column-gap: 10px;
}

.tabs-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.tab {
  white-space: nowrap;
  padding: 6px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  background: none;
  border: none;
  column-gap: 10px;
  /* border-bottom: 2px solid transparent;
  border-right: none;
  border-top: none;
  border-left: none; */
  transition: 0.3s;
}

.tab:hover {
  background-color: rgb(255, 80, 80);
  color: white;
  border-bottom: solid 2px white;
}

.red {
  font-weight: 600;
  color: red;
  border-bottom: solid 2px red;
}

.nav-btn {
  background: none;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 6px;
}

.nav-btn:not(:last-child) {
  margin-right: 12px; 
}

.tab-content {
  display: none;
  /* perspective: 800px; */
}

.tab-content.active {
  display: grid;
}

.feature-grid {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.feature-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border: 1px solid #F3F4F6;
  transition: 0.4s;
  
}

.feature-card:hover {
  cursor: pointer;
  transform: scale(1.03);
  background-color: rgb(255, 69, 69);
  color: white;
}

.feature-card h3 {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
.feature-card p {
  font-weight: 600;
  color: #4B5563;
  font-size: 0.875rem;
}

.feature-card:hover p{
  color: black;
}
