body {
  /* background-image: linear-gradient(
      rgba(210, 80, 80, 0.5),
      rgba(202, 37, 37, 0.5)
    ),
    url(images/Gemini_Generated_Image_rym5xlrym5xlrym5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 1; */
  margin-bottom: 200px;
  display: grid;
  place-items: center;
  margin-top: 100px;
  transition: opacity 0.5s ease;
}

.login-container {
  width: 520px;
  padding: 36px 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgb(243,243,243);
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
}


body.fade-out {
  opacity: 0;
}

.header {
  background-color: rgba(244, 244, 244, 0.9);
  height: 70px;
  backdrop-filter: blur(6px);
  border: none;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 200;
  perspective: 800px;
}

.home {
  position: relative;
}

.home-btn {
  margin-left: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: red;
  border: none;
  font-size: 21px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.home-btn:hover {
  transform: scale(1.05);
  transition: 0.3s;
  color: black;
  background-color: rgb(255, 79, 79);
  padding: 6px;
  border-radius: 6px;
}

.home .tooltip {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: absolute;
  background-color: rgb(78, 78, 78);
  color: rgb(255, 255, 255);
  border-radius: 6px;
  left: -1px;
  bottom: -40px;
  padding: 6px 10px;
  pointer-events: none;
  opacity: 0;
}

.home:hover .tooltip {
  opacity: 1;
  left: 60px;
  bottom: -40px;
  transition: 0.2s;
}

.input {
  display: block;
  width: 90%;
  max-width: 100%;
  margin: 20px;
  height: 40px;
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  background-color: rgb(225,225,225);
  box-sizing: border-box;
}


.create{
  display: block;
  padding: 15px;
  margin: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: black;
  background-color: rgb(0, 255, 0);
  border: none;
  border-radius: 9px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.create:hover{
  transform: scale(1.03);
  cursor: pointer;
  background-color: #00e62a;
}